body{
    margin: 0;
    background-image: linear-gradient(#FFAFCC, #FFF6F9, #C3DBFD)
    }

h1 {
    font-family: 'Great Vibes';
    font-size: 75px;
    color: #5A77D8;
    text-align: center;
}

p {
    font-family: 'Abril Fatface';
    color: #FFF6F9;
    text-align: center; 
    background: #5A77D8;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 19px;
}

.Moon {
    position:relative; 
    top: 25px;
    background: #FFAFCC;
    margin-left: 50px;
    margin-right: 80%;
    text-align: center;
    border: #5A77D8 1px solid;
}

.Luna {
    position: relative;
    top: -480px;
    background: #FFAFCC;
    margin-right: 50px;
    margin-left: 1350px;
    border: #5A77D8 1px solid;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background: #5A77D8;
    border: black 1px solid;
    max-width: 800px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -845px;
    position: relative;
    border-radius: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    backface-visibility: hidden;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all ease;
    background-color: #a2d2ff;
}

.img {
    text-align: center;
}

.cards.clicked {
    background-color: #ffc8dd;
}

.cards.checked {
    background-color: #f7e3af;
}

.cards:hover {
    transform: rotate(1turn);
}

.card.clicked img, 
.card.checked img {
    opacity: 1;
}

.card.shake {
    background-color: #ff0a64;
    animation: shake 0.5s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}