body{
    margin: 0;
    background-image: linear-gradient(#FFAFCC, #FFF6F9, #C3DBFD)
    }

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
    color: #5A77D8;
    text-align: center;
}

p {
    font-family: 'Abril Fatface';
    color: #FFF6F9;
    text-align: center; 
    background: #5A77D8;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 19px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    grid-gap: 10px;
    background: #FFAFCC;
    max-width: 900px;
    padding: 10px;
    margin: 100px auto;
    position: relative;
    top: -790px;
    border: #5A77D8 1px solid;
    perspective: 900px;
    transform: rotateY(-50%, -50%);
}

.cards {
    background: #5A77D8;
    border: black 1px solid;
    border-radius: 5%;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 0.9s ease;
    transform: rotateY(180deg);
}

.Moon {
    position:relative; 
    top: 25px;
    background: #FFAFCC;
    margin-left: 50px;
    margin-right: 80%;
    text-align: center;
    border: #5A77D8 1px solid;
}

.Luna {
    position: relative;
    top: -485px;
    background: #FFAFCC;
    margin-right: 50px;
    margin-left: 1350px;
    border: #5A77D8 1px solid;
    text-align: center;
}