* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    background-image: linear-gradient(#FFAFCC, #FFF6F9, #a2d2ff);
}

.game {
    width: 1500px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    grid-auto-columns: minmax(40px, auto);
    grid-gap: 10px;
    }

.h1 {
    background: none;
    grid-column: 1/4;
    font-family: 'Great Vibes';
    font-size: 95px;
    color: #2744a5;
    text-align: center;
    font-weight: 800;
    padding: 15px;
}

.h2 {
    grid-column: 1/4;
    font-family: 'Abril Fatface';
    font-size: 19px;
    text-align: center;
    color: #FFF6F9;
    background: #2744a5;
    padding: 15px;
} 

.Moon {
    text-align: center;
    background: #FFAFCC;
}

.Luna {
    text-align: center;
    background: #FFAFCC;
}

.Luna img {
    position: relative;
    top: 5px;
}

.game-board {
    height: 600px;
    width: 650px;
    background: #FFAFCC;
    padding: 0%;
    align-self: center;
    justify-self: center;
}

.cards {
    height: 560px;
    width: 640px;
    display: grid;
    padding: 20px;
    place-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);

}

.card {
    height: 150px;
    width: 100px;
    background: #2744a5;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all ease;
    border: black 1px solid;
}

.card img {
    opacity: 0;
    transition: 0.3s all ease;
}

.card.clicked img{
    opacity: 1;
    background: #a2d2ff;
    border-radius: 15px;
}

.card.checked {
    background-color: #ffe566;
}

.card.checked img{
    opacity: 1;
}

.card:hover {
    transform: scale(1.5);
}

.card.shake {
    background-color: #ff0a64;
    animation: shake 0.5s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

audio::-webkit-media-controls-panel {
    background-color: #2744a5;
  }

  .audio {
      top: 100px;
  }

  .p {
    font-family: 'Abril Fatface';
    
  }